h1 {
    color: #17176b;
    margin-top: 5px;
    margin-bottom: 80px;
    margin-left: 360px;
}
.stripehead {
    width:500px;
    border-radius: 20px;
    background: #4BB441;
    padding: 1px 1px 1px 1px;
    margin: 30px;
}
.stripe {
    /*position: relative;*/
    border-radius: 20px;
    background: #4BB441;
    padding: 20px 20px 20px 20px;
    margin: 30px;
    float:right;
}
.horizmenu, .horizmenu li{
  margin:0;
  padding:2px 50px 2px;
}
.horizmenu{
  list-style:none;
  color:#fff;
  text-align:center;
  background-color:#4BB441;
  /*width:1300px;
  margin:auto;*/
}
.horizmenu li{
  display:inline-block;
        /*padding:10px 20px 10px;*/
/*margin-right: 10px;
margin-left:10px;*/
}
.horizmenu li a {
  display: block;
  /*float:left;*/
  color:#fff;
  background-color:#4BB441;
  /*text-align:center;*/
  /*padding:1px 50px 1px;*/
  text-decoration: none;
}	
.horizmenu a:hover {
  color:#000000;
  /*background-color: #185EAF;*/
}
